body{
    background-image: url('https://wallpapercave.com/wp/wp2757874.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

t.text-1 {
    color: aliceblue;
}